@import url{'http://fonts.googleapis.com/css?family=Poppins:400,500,700'};

html, body{
  font-family: 'Poppins', sans-serif;
}

.carousel img{
  width: 100%;
  height: 100%
}

.btn-primary{
  background-color: #330000;
  border: 1px solid #330000;
}

.btn-primary:hover{
  background-color: #220000;
  border: 1px solid #220000;
}


.fun{
  width: 100%;
  margin-button: 2rem;
  font-family: 'Poppins', sans-serif;
}

.gif{
   max-width: 100%;
}

footer{
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}

.light{
  border-top: 1px solid #d5d5d5;
  width: 75%;
}
